{{>head title="Services - Best Photography and Videography Services | Wedding Photography | Baby Photoshoot | Product Photography" meta_description="New Shreenath Enterprise provides a wide range of photography and videography services such as Wedding and Event photography/videography, Pre-wedding photography, Video editing and many more. For more information view Services and avail the best photography and videography services." meta_keywords="photography, wedding photography, pre wedding photography, dslr photo, candid photo, kids photography, photo shoot, photography portfolio, product photography, candid photography, baby photoshoot, baby photography, wedding photographers near me, event photography, wedding video, marriage photography, wedding cinematography" meta_author="Black Quadrant Technologies"}}
<body class="width-100">
    {{>header}}
    <!-- start slider section -->
    <section class="wow fadeIn pt-5 mt-4">
            <div class="container"> 
                <div class="row"> 
                    <div class="col-12">
                        <div class="swiper-number-pagination swiper-container black-move">
                            <div class="bg-transparent-white opacity-full-dark z-index-5 d-none d-lg-inline-block"></div>
                            <div class="swiper-wrapper">
                                <!-- start slider item -->
                                <div class="swiper-slide cover-background" style="background-image:url('/images/slider-1.JPG');">
                                    <div class="slider-half-small-screen position-relative">
                                        <div class="slider-typography text-left">
                                            <div class="slider-text-middle-main">
                                                <div class="slider-text-middle">
                                                    <span class="text-extra-large text-middle-line font-weight-300 text-deep-pink d-block margin-two-bottom width-50 sm-width-65">Our Work</span>
                                                    <h2 class="text-white width-50 d-inline-block font-weight-300 letter-spacing-minus-1 lg-width-70 sm-width-80">New Shreenath Enterprise | Vadodara's best Photographers and Videographers - We capture Memories.</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end slider item -->
                                <!-- start slider item -->
                                <div class="swiper-slide cover-background" style="background-image:url('/images/slider-2.JPG');">
                                    <div class="slider-half-small-screen position-relative">
                                        <div class="slider-typography text-left">
                                            <div class="slider-text-middle-main">
                                                <div class="slider-text-middle">
                                                    <span class="text-extra-large text-middle-line font-weight-300 text-deep-pink d-block margin-two-bottom width-50 sm-width-65">Our Purpose</span>
                                                    <h2 class="text-white width-50 d-inline-block font-weight-300 letter-spacing-minus-1 lg-width-70 sm-width-80">Because every picture tells a Story, let me tell Yours.</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end slider item -->
                                <!-- start slider item -->
                                <div class="swiper-slide cover-background" style="background-image:url('/images/slider-3.jpg');">
                                    <div class="slider-half-small-screen position-relative">
                                        <div class="slider-typography text-left">
                                            <div class="slider-text-middle-main">
                                                <div class="slider-text-middle">
                                                    <span class="text-extra-large text-middle-line font-weight-300 text-deep-pink d-block margin-two-bottom width-50 sm-width-65">Our Goal</span>
                                                    <h2 class="text-white width-50 d-inline-block font-weight-300 letter-spacing-minus-1 lg-width-70 sm-width-80">Capturing moments from today, Creating memories for a lifetime.</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end slider item -->
                            </div>
                            <div class="swiper-pagination swiper-number"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end slider section -->
        <!-- start masonry portfolio section -->
        <section class="wow fadeIn">
            <div class="container-fluid p-0">
                <div class="row no-gutters">
                    <div class="col-12 filter-content overflow-hidden text-center text-lg-left">
                        <span class="text-extra-large text-middle-line text-dark-gray d-block margin-five-bottom md-margin-15px-bottom md-text-middle-line font-weight-300 px-5 mx-5">Photographs by our Photographers</span>
                        <ul class="portfolio-grid work-4col hover-option2">
                            <li class="grid-sizer"></li>
                            <!-- start portfolio item -->
                            <li class="grid-item wow fadeInUp">
                                    <figure>
                                        <div class="portfolio-img bg-deep-pink"><img src="/images/services-1.jpg" alt="Photo-1"/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main text-left">
                                                <div class="portfolio-hover-box align-bottom">
                                                    <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                        <span class="line-height-normal alt-font text-white-2 text-uppercase margin-one-half-bottom d-block font-weight-600">Photo-1</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                            </li>
                            <!-- end portfolio item -->
                            <!-- start portfolio item -->
                            <li class="grid-item wow fadeInUp"  data-wow-delay="0.2s">
                                    <figure>
                                        <div class="portfolio-img bg-deep-pink"><img src="/images/services-2.jpg" alt="Photo-2"/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main text-left">
                                                <div class="portfolio-hover-box align-bottom">
                                                    <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                        <span class="line-height-normal alt-font text-white-2 text-uppercase margin-one-half-bottom d-block font-weight-600">Photo-2</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                            </li>
                            <!-- end portfolio item -->
                            <!-- start portfolio item -->
                            <li class="grid-item wow fadeInUp"  data-wow-delay="0.4s">
                                    <figure>
                                        <div class="portfolio-img bg-deep-pink"><img src="/images/services-3.jpg" alt="Photo-3"/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main text-left">
                                                <div class="portfolio-hover-box align-bottom">
                                                    <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                        <span class="line-height-normal alt-font text-white-2 text-uppercase margin-one-half-bottom d-block font-weight-600">Photo-3</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                            </li>
                            <!-- end portfolio item -->
                            <!-- start portfolio item -->
                            <li class="grid-item wow fadeInUp" data-wow-delay="0.6s">
                                    <figure>
                                        <div class="portfolio-img bg-deep-pink"><img src="/images/services-4.jpg" alt="Photo-4"/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main text-left">
                                                <div class="portfolio-hover-box align-bottom">
                                                    <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                        <span class="line-height-normal alt-font text-white-2 text-uppercase margin-one-half-bottom d-block font-weight-600">Photo-4</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                            </li>
                            <!-- end portfolio item -->
                            <!-- start portfolio item -->
                            <li class="grid-item wow fadeInUp">
                                    <figure>
                                        <div class="portfolio-img bg-deep-pink"><img src="/images/services-5.jpg" alt="Photo-5"/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main text-left">
                                                <div class="portfolio-hover-box align-bottom">
                                                    <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                        <span class="line-height-normal alt-font text-white-2 text-uppercase margin-one-half-bottom d-block font-weight-600">Photo-5</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                            </li>
                            <!-- end portfolio item -->
                            <!-- start portfolio item -->
                            <li class="grid-item wow fadeInUp" data-wow-delay="0.4s">
                                    <figure>
                                        <div class="portfolio-img bg-deep-pink"><img src="/images/services-6.jpg" alt="Photo-6"/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main text-left">
                                                <div class="portfolio-hover-box align-bottom">
                                                    <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                        <span class="line-height-normal alt-font text-white-2 text-uppercase margin-one-half-bottom d-block font-weight-600">Photo-6</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                            </li>
                            <!-- end portfolio item -->
                            <!-- start portfolio item -->
                            <li class="grid-item wow fadeInUp" data-wow-delay="0.6s">
                                    <figure>
                                        <div class="portfolio-img bg-deep-pink"><img src="/images/services-7.jpg" alt="Photo-7"/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main text-left">
                                                <div class="portfolio-hover-box align-bottom">
                                                    <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                        <span class="line-height-normal alt-font text-white-2 text-uppercase margin-one-half-bottom d-block font-weight-600">Photo-7</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                            </li>
                            <!-- end portfolio item -->
                            <!-- start portfolio item -->
                            <li class="grid-item wow fadeInUp">
                                    <figure>
                                        <div class="portfolio-img bg-deep-pink"><img src="/images/services-8.jpg" alt="Photo-8"/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main text-left">
                                                <div class="portfolio-hover-box align-bottom">
                                                    <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                        <span class="line-height-normal alt-font text-white-2 text-uppercase margin-one-half-bottom d-block font-weight-600">Photo-8</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                            </li>
                            <!-- end portfolio item -->
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- start section -->
        <section class="wow fadeIn big-section bg-extra-dark-gray">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-10 wow fadeIn text-center text-lg-left">
                        <span class="text-extra-large text-middle-line text-medium-gray d-block margin-five-bottom sm-margin-15px-bottom md-text-middle-line font-weight-300">Services</span>
                        <h6 class="text-extra-light-gray d-inline-block font-weight-300 md-width-80 sm-width-100">We wish to offer you best and highest quality photography and videography services. We provide a fusion of traditional, elegant, modern and candid photography and videography with our skilled and experienced crew. We offer you wide range of services ranging from photography and videography to album designing and video editing. This makes us the one stop solution for all your photography and videography needs.</h6>
                        <h6 class="text-extra-light-gray d-inline-block font-weight-300 md-width-80 sm-width-100">Services we offer:</h6>
                        <ul>
                            <li class="text-extra-light-gray">Event & Wedding Photography</li>
                            <li class="text-extra-light-gray">Event & Wedding HD Videography</li>
                            <li class="text-extra-light-gray">Candid Photography</li>
                            <li class="text-extra-light-gray">Pre Wedding Photography</li>
                            <li class="text-extra-light-gray">Child/Baby Photography</li>
                            <li class="text-extra-light-gray">Product Photography</li>
                            <li class="text-extra-light-gray">Cinematography</li>
                            <li class="text-extra-light-gray">Album Designing and Printing</li>
                            <li class="text-extra-light-gray">Video Editing</li>
                        </ul>
                    </div> 
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start section -->
        <section class="wow fadeIn big-section">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-10 text-center text-lg-left wow fadeIn">
                        <span class="text-extra-large text-middle-line text-dark-gray d-block margin-five-bottom md-margin-15px-bottom md-text-middle-line font-weight-300">Event & Wedding Photography</span>
                        <h6 class="text-extra-dark-gray d-inline-block font-weight-300 md-width-80 sm-width-100">Wedding is a once in a lifetime event, so each and every moment is special and should be captured with utmost knowledge, skills and dedication. Our photographers are always ready to capture your special, lovely and candid moments to make your wedding more memorable and special. So we offer you the best solution for your wedding photography with our top-notch photographers.</h6>
                        <h6 class="text-extra-dark-gray d-inline-block font-weight-300 md-width-80 sm-width-100">We provide various services for wedding such as candid photography, Photobooks, e-Albums, group photography and family photography.</h6>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start section -->
        <section class="wow fadeIn big-section bg-extra-dark-gray">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-10 wow fadeIn text-center text-lg-left">
                        <span class="text-extra-large text-middle-line text-medium-gray d-block margin-five-bottom sm-margin-15px-bottom md-text-middle-line font-weight-300">Event & Wedding HD Videography</span>
                        <h6 class="text-extra-light-gray d-inline-block font-weight-300 md-width-80 sm-width-100">We have specialized videographers in DSLR shooting to shoot the event or wedding using different styles according to your requirement and make your most memorable day even more memorable.</h6>
                        <h6 class="text-extra-light-gray d-inline-block font-weight-300 md-width-80 sm-width-100">We offer High Definition Videography, Camera Setup, Live Coverage on LCD Screen, Projectors, Crane, Drone, LCD frames and much more.</h6>
                    </div> 
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start section -->
        <section class="wow fadeIn big-section">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-10 text-center text-lg-left wow fadeIn">
                        <span class="text-extra-large text-middle-line text-dark-gray d-block margin-five-bottom md-margin-15px-bottom md-text-middle-line font-weight-300">Candid Photography</span>
                        <h6 class="text-extra-dark-gray d-inline-block font-weight-300 md-width-80 sm-width-100">We also provide candid photography with wide array of lenses to shoot or capture your candid moments of sentiments and emotions in weddings, anniversaries, birthdays or any special event. So that when you look at those pictures later, you will be able to feel those moments and relive them again.  We believe that the best captures are the ones when the people are themselves.</h6>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start section -->
        <section class="wow fadeIn big-section bg-extra-dark-gray">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-10 wow fadeIn text-center text-lg-left">
                        <span class="text-extra-large text-middle-line text-medium-gray d-block margin-five-bottom sm-margin-15px-bottom md-text-middle-line font-weight-300">Pre Wedding Photography</span>
                        <h6 class="text-extra-light-gray d-inline-block font-weight-300 md-width-80 sm-width-100">Pre Wedding Photography is a portrait photography which covers only you and your soulmate at a location of your choice. In wedding ceremonies, couples hardly get a moment to get captured solely and thus here comes the pre wedding photoshoot for your aid. We offer these shoots to get you bit more closer to each other and know each other a bit more before the Wedding day.</h6>
                    </div> 
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start section -->
        <section class="wow fadeIn big-section">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-10 text-center text-lg-left wow fadeIn">
                        <span class="text-extra-large text-middle-line text-dark-gray d-block margin-five-bottom md-margin-15px-bottom md-text-middle-line font-weight-300">Child/Baby Photography</span>
                        <h6 class="text-extra-dark-gray d-inline-block font-weight-300 md-width-80 sm-width-100">Capture those sweet, cute, innocent and priceless moments of your little one with us and cherish them later. We are always prepared to capture those spontaneous and lovely moments of children and make them unforgettable for you.</h6>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start section -->
        <section class="wow fadeIn big-section bg-extra-dark-gray">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-10 wow fadeIn text-center text-lg-left">
                        <span class="text-extra-large text-middle-line text-medium-gray d-block margin-five-bottom sm-margin-15px-bottom md-text-middle-line font-weight-300">Product Photography</span>
                        <h6 class="text-extra-light-gray d-inline-block font-weight-300 md-width-80 sm-width-100">Good photography adds authority, which in turn generates the trust of the customer for your product. It creates a huge impact on customers. We are here for your aid to provide you that impact with the help of our specialized professional photographers. High resolution photos are essential in providing a positive first impression of your product.</h6>
                    </div> 
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start section -->
        <section class="wow fadeIn big-section">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-10 text-center text-lg-left wow fadeIn">
                        <span class="text-extra-large text-middle-line text-dark-gray d-block margin-five-bottom md-margin-15px-bottom md-text-middle-line font-weight-300">Cinematography</span>
                        <h6 class="text-extra-dark-gray d-inline-block font-weight-300 md-width-80 sm-width-100">Cinematography is the videoshooting done with DSLR camera using different types of lenses and gadgets like Slider, Gimble, Osmo, etc. Cinematography is done along with regular cam-corder to give different angles, views and motion. We also provide this service.</h6>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start section -->
        <section class="wow fadeIn big-section bg-extra-dark-gray">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-10 wow fadeIn text-center text-lg-left">
                        <span class="text-extra-large text-middle-line text-medium-gray d-block margin-five-bottom sm-margin-15px-bottom md-text-middle-line font-weight-300">Album Designing and Printing</span>
                        <h6 class="text-extra-light-gray d-inline-block font-weight-300 md-width-80 sm-width-100">We provide wide variety of album designs and printing services as per your demands, wishes and needs.</h6>
                    </div> 
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start section -->
        <section class="wow fadeIn big-section">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-10 text-center text-lg-left wow fadeIn">
                        <span class="text-extra-large text-middle-line text-dark-gray d-block margin-five-bottom md-margin-15px-bottom md-text-middle-line font-weight-300">Video Editing</span>
                        <h6 class="text-extra-dark-gray d-inline-block font-weight-300 md-width-80 sm-width-100">We also offer video editing services like creative title, video effects and much more for your videos.</h6>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->
        {{>footer}}
        <a class="scroll-top-arrow" href="javascript:void(0);"><i class="ti-arrow-up"></i></a>
        {{>foot}}