{{>head title="About us - New Shreenath Enterprise | Wedding Photographers and Videographers" meta_description="Welcome to New Shreenath Enterprise. We are a company providing finest photography and videography services having a crew with many years of experience and expertise. " meta_keywords="photography, wedding photography, pre wedding photography, dslr photo, candid photo, kids photography, photo shoot, photography portfolio, product photography, candid photography, baby photoshoot, baby photography, wedding photographers near me, event photography, wedding video, marriage photography, best video editor" meta_author="Black Quadrant Technologies"}}
<body class="width-100">
    {{>header}}
    <!-- start slider section -->
    <section class="wow fadeIn pt-5 mt-4">
            <div class="container"> 
                <div class="row"> 
                    <div class="col-12">
                        <div class="swiper-number-pagination swiper-container black-move">
                            <div class="bg-transparent-white opacity-full-dark z-index-5 d-none d-lg-inline-block"></div>
                            <div class="swiper-wrapper">
                                <!-- start slider item -->
                                <div class="swiper-slide cover-background" style="background-image:url('/images/slider-1.JPG');">
                                    <div class="slider-half-small-screen position-relative">
                                        <div class="slider-typography text-left">
                                            <div class="slider-text-middle-main">
                                                <div class="slider-text-middle">
                                                    <span class="text-extra-large text-middle-line font-weight-300 text-deep-pink d-block margin-two-bottom width-50 sm-width-65">Our Work</span>
                                                    <h2 class="text-white width-50 d-inline-block font-weight-300 letter-spacing-minus-1 lg-width-70 sm-width-80">New Shreenath Enterprise | Vadodara's best Photographers and Videographers - We capture Memories.</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end slider item -->
                                <!-- start slider item -->
                                <div class="swiper-slide cover-background" style="background-image:url('/images/slider-2.JPG');">
                                    <div class="slider-half-small-screen position-relative">
                                        <div class="slider-typography text-left">
                                            <div class="slider-text-middle-main">
                                                <div class="slider-text-middle">
                                                    <span class="text-extra-large text-middle-line font-weight-300 text-deep-pink d-block margin-two-bottom width-50 sm-width-65">Our Purpose</span>
                                                    <h2 class="text-white width-50 d-inline-block font-weight-300 letter-spacing-minus-1 lg-width-70 sm-width-80">Because every picture tells a Story, let me tell Yours.</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end slider item -->
                                <!-- start slider item -->
                                <div class="swiper-slide cover-background" style="background-image:url('/images/slider-3.jpg');">
                                    <div class="slider-half-small-screen position-relative">
                                        <div class="slider-typography text-left">
                                            <div class="slider-text-middle-main">
                                                <div class="slider-text-middle">
                                                    <span class="text-extra-large text-middle-line font-weight-300 text-deep-pink d-block margin-two-bottom width-50 sm-width-65">Our Goal</span>
                                                    <h2 class="text-white width-50 d-inline-block font-weight-300 letter-spacing-minus-1 lg-width-70 sm-width-80">Capturing moments from today, Creating memories for a lifetime.</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end slider item -->
                            </div>
                            <div class="swiper-pagination swiper-number"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end slider section -->
        <!-- start masonry portfolio section -->
        <section class="wow fadeIn">
            <div class="container-fluid p-0">
                <div class="row no-gutters">
                    <div class="col-12 filter-content overflow-hidden text-center text-lg-left">
                        <span class="text-extra-large text-middle-line text-dark-gray d-block margin-five-bottom md-margin-15px-bottom md-text-middle-line font-weight-300 px-5 mx-5">Photographs by our Photographers</span>
                        <ul class="portfolio-grid work-4col hover-option2">
                            <li class="grid-sizer"></li>
                            <!-- start portfolio item -->
                            <li class="grid-item wow fadeInUp">
                                    <figure>
                                        <div class="portfolio-img bg-deep-pink"><img src="/images/aboutus-1.jpg" alt="Photo-1"/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main text-left">
                                                <div class="portfolio-hover-box align-bottom">
                                                    <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                        <span class="line-height-normal alt-font text-white-2 text-uppercase margin-one-half-bottom d-block font-weight-600">Photo-1</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                            </li>
                            <!-- end portfolio item -->
                            <!-- start portfolio item -->
                            <li class="grid-item wow fadeInUp"  data-wow-delay="0.2s">
                                    <figure>
                                        <div class="portfolio-img bg-deep-pink"><img src="/images/aboutus-2.jpg" alt="Photo-2"/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main text-left">
                                                <div class="portfolio-hover-box align-bottom">
                                                    <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                        <span class="line-height-normal alt-font text-white-2 text-uppercase margin-one-half-bottom d-block font-weight-600">Photo-2</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                            </li>
                            <!-- end portfolio item -->
                            <!-- start portfolio item -->
                            <li class="grid-item wow fadeInUp"  data-wow-delay="0.4s">
                                    <figure>
                                        <div class="portfolio-img bg-deep-pink"><img src="/images/aboutus-3.jpg" alt="Photo-3"/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main text-left">
                                                <div class="portfolio-hover-box align-bottom">
                                                    <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                        <span class="line-height-normal alt-font text-white-2 text-uppercase margin-one-half-bottom d-block font-weight-600">Photo-3</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                            </li>
                            <!-- end portfolio item -->
                            <!-- start portfolio item -->
                            <li class="grid-item wow fadeInUp" data-wow-delay="0.6s">
                                    <figure>
                                        <div class="portfolio-img bg-deep-pink"><img src="/images/aboutus-4.jpg" alt="Photo-4"/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main text-left">
                                                <div class="portfolio-hover-box align-bottom">
                                                    <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                        <span class="line-height-normal alt-font text-white-2 text-uppercase margin-one-half-bottom d-block font-weight-600">Photo-4</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                            </li>
                            <!-- end portfolio item -->
                            <!-- start portfolio item -->
                            <li class="grid-item wow fadeInUp">
                                    <figure>
                                        <div class="portfolio-img bg-deep-pink"><img src="/images/aboutus-5.jpg" alt="Photo-5"/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main text-left">
                                                <div class="portfolio-hover-box align-bottom">
                                                    <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                        <span class="line-height-normal alt-font text-white-2 text-uppercase margin-one-half-bottom d-block font-weight-600">Photo-5</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                            </li>
                            <!-- end portfolio item -->
                            <!-- start portfolio item -->
                            <li class="grid-item wow fadeInUp" data-wow-delay="0.4s">
                                    <figure>
                                        <div class="portfolio-img bg-deep-pink"><img src="/images/aboutus-6.jpg" alt="Photo-6"/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main text-left">
                                                <div class="portfolio-hover-box align-bottom">
                                                    <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                        <span class="line-height-normal alt-font text-white-2 text-uppercase margin-one-half-bottom d-block font-weight-600">Photo-6</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                            </li>
                            <!-- end portfolio item -->
                            <!-- start portfolio item -->
                            <li class="grid-item wow fadeInUp" data-wow-delay="0.6s">
                                    <figure>
                                        <div class="portfolio-img bg-deep-pink"><img src="/images/aboutus-7.jpg" alt="Photo-7"/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main text-left">
                                                <div class="portfolio-hover-box align-bottom">
                                                    <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                        <span class="line-height-normal alt-font text-white-2 text-uppercase margin-one-half-bottom d-block font-weight-600">Photo-7</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                            </li>
                            <!-- end portfolio item -->
                            <!-- start portfolio item -->
                            <li class="grid-item wow fadeInUp">
                                    <figure>
                                        <div class="portfolio-img bg-deep-pink"><img src="/images/aboutus-8.jpg" alt="Photo-8"/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main text-left">
                                                <div class="portfolio-hover-box align-bottom">
                                                    <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                        <span class="line-height-normal alt-font text-white-2 text-uppercase margin-one-half-bottom d-block font-weight-600">Photo-8</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                            </li>
                            <!-- end portfolio item -->
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- start section -->
        <section class="wow fadeIn big-section bg-extra-dark-gray">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-10 wow fadeIn text-center text-lg-left">
                        <span class="text-extra-large text-middle-line text-medium-gray d-block margin-five-bottom sm-margin-15px-bottom md-text-middle-line font-weight-300">Who we are</span>
                        <h6 class="text-extra-light-gray d-inline-block font-weight-300 md-width-80 sm-width-100">We are a company providing photography and videography services in Vadodara with vast experience and expertise. We are always eager to shoot your special events and film it in the most beautiful way possible. Our specialization lies in wedding photography because we feel weddings are one of the most memorable moments of our lives. Our motive is to make your weddings and events more memorable. We want you to be able to cherish those memories by just having a glance on the pictures. We want to capture your every single moment, because we believe that those single, tiny moments have a beautiful hidden story behind them.</h6>
                    </div> 
                </div>
            </div>
        </section>
        <!-- end section -->
        <section class="wow fadeIn big-section">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-10 text-center text-lg-left wow fadeIn">
                        <span class="text-extra-large text-middle-line text-dark-gray d-block margin-five-bottom md-margin-15px-bottom md-text-middle-line font-weight-300">Passion, Experience, and Services</span>
                        <h6 class="text-extra-dark-gray d-inline-block font-weight-300 md-width-80 sm-width-100">We are very passionate about photography. We love clicking and capturing the moments and emotions for you to remember it life long. Even if you forget, the pictures will always be there to remind you of those special and wonderful close-to-your-heart moments. Our team of professional photographers and videographers has many years of experience of shooting weddings and events. We believe in delivering best quality and high definition services. We live by our motive to provide you best photography and videography services. We provide you wide range of services regarding photography and videography. We are a perfect solution for all your photography and videography needs. Our services include:</h6>
                        <ul>
                            <li class="text-dark-gray">Wedding Photography</li>
                            <li class="text-dark-gray">Wedding Videography</li>
                            <li class="text-dark-gray">Pre-Wedding Photography</li>
                            <li class="text-dark-gray">Event Photography</li>
                            <li class="text-dark-gray">Portrait & Portfolio</li>
                            <li class="text-dark-gray">Product Photography</li>
                            <li class="text-dark-gray">Baby Photoshoot</li>
                            <li class="text-dark-gray">Video Editing</li>
                            <li class="text-dark-gray">Album Designing and Printing</li>
                        </ul>
                        <p><strong><a href="/services">Read in detail about our services</a></strong></p>
                    </div>
                </div>
            </div>
        </section>
        {{>footer}}
        <a class="scroll-top-arrow" href="javascript:void(0);"><i class="ti-arrow-up"></i></a>
        {{>foot}}