<header class="no-sticky">
    <!-- start navigation -->
    <nav class="navbar full-width-pull-menu navbar-top-scroll no-border-top no-transition">
        <!-- start navigation panel -->
        <div class="container-fluid nav-header-container height-100px padding-three-half-lr sm-height-70px sm-padding-15px-lr">
            <!-- start logo -->
            <div class="col-auto pl-0"><a href="/" title="New Shreenath Enterprise" class="logo"><img src="/images/logo1.jpg" data-rjs="images/logo1.jpg" alt="New Shreenath Enterprise"></a></div>
            <!-- end logo -->
            <!-- start main menu -->
            <div class="col-auto pr-0">
                <div class="menu-wrap full-screen d-flex">
                    <div class="col-md-6 p-0 d-none d-md-block"> 
                        <div class="cover-background full-screen" style="background-image:url('/images/menu-background.jpg')">     
                            <div class="opacity-medium bg-extra-dark-gray"></div>
                            <div class="position-absolute height-100 width-100 text-center">
                                <div class="display-table height-100 width-100">
                                    <div class="display-table-cell height-100 width-100 vertical-align-middle position-relative">
                                        <a href="/"><img alt="New Shreenath Enterprise logo" src="/images/logo.png" data-rjs="/images/logo.png"></a>
                                        <div class="position-absolute bottom-50 text-center width-100 margin-30px-bottom">
                                            <div class="text-small text-extra-medium-gray">&copy; 2019 New Shreenath Enterprise</div>
                                        </div>
                                    </div>
                                </div>                                                            
                            </div>                                                    
                        </div>
                    </div>
                    <div class="col-md-6 p-0 bg-white full-screen">
                        <div class="position-absolute height-100 width-100 overflow-auto">
                            <div class="display-table height-100 width-100">
                                <div class="display-table-cell height-100 width-100 vertical-align-middle padding-fourteen-lr alt-font link-style-2 sm-padding-seven-lr md-padding-15px-lr">
                                    <!-- start menu -->
                                    <ul class="font-weight-600 sm-no-padding-left">
                                        <!-- start menu item -->
                                        <li><a href="/">Home</a></li>
                                        <!-- end menu item -->
                                        <!-- start menu item -->
                                        <li><a href="/aboutus">About us</a></li>
                                        <!-- end menu item -->
                                        <!-- start menu item -->
                                        <li><a href="/services">Services</a></li>
                                        <!-- end menu item -->
                                        <!-- start menu item -->
                                        <li><a href="/portfolio">Portfolio</a></li>
                                        <!-- end menu item -->
                                        <!-- start menu item -->
                                        <li><a href="/contactus">Contact us</a></li>
                                        <!-- end menu item -->
                                        <!-- end menu -->
                                    </ul>    
                                </div>
                            </div>
                        </div>
                        <button aria-label="Close" class="close-button-menu" id="close-button"></button>
                    </div>
                </div>
                <!-- end main menu -->
                <button aria-label="Menu" class="navbar-toggler mobile-toggle" type="button" id="open-button" data-toggle="collapse" data-target=".navbar-collapse">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
        </div>
        <!-- end navigation panel -->
    </nav> 
    <!-- end navigation -->  
</header> 
