{{>head title="Contact us - Best Photography and Videography Services" meta_description="New Shreenath Enterprise has been providing photography and videography services with very much dedication and expertise since many years. Contact us to avail our photogarphy services." meta_keywords="photography, wedding photography, pre wedding photography, dslr photo, candid photo, kids photography, photo shoot, photography portfolio, product photography, candid photography, baby photoshoot, baby photography, wedding photographers near me, event photography, wedding video, marriage photography, family photo, professional photographers" meta_author="Black Quadrant Technologies"}}
<body class="width-100">
    {{>header}}
    <!-- start slider section -->
    <section class="wow fadeIn pt-5 mt-4">
            <div class="container"> 
                <div class="row"> 
                    <div class="col-12">
                        <div class="swiper-number-pagination swiper-container black-move">
                            <div class="bg-transparent-white opacity-full-dark z-index-5 d-none d-lg-inline-block"></div>
                            <div class="swiper-wrapper">
                                <!-- start slider item -->
                                <div class="swiper-slide cover-background" style="background-image:url('/images/slider-1.JPG');">
                                    <div class="slider-half-small-screen position-relative">
                                        <div class="slider-typography text-left">
                                            <div class="slider-text-middle-main">
                                                <div class="slider-text-middle">
                                                    <span class="text-extra-large text-middle-line font-weight-500 text-deep-pink d-block margin-two-bottom width-50 sm-width-65">Our Work</span>
                                                    <h2 class="text-white width-50 d-inline-block font-weight-300 letter-spacing-minus-1 lg-width-70 sm-width-80">New Shreenath Enterprise | Vadodara's best Photographers and Videographers - We capture Memories.</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end slider item -->
                                <!-- start slider item -->
                                <div class="swiper-slide cover-background" style="background-image:url('/images/slider-2.JPG');">
                                    <div class="slider-half-small-screen position-relative">
                                        <div class="slider-typography text-left">
                                            <div class="slider-text-middle-main">
                                                <div class="slider-text-middle">
                                                    <span class="text-extra-large text-middle-line font-weight-500 text-deep-pink d-block margin-two-bottom width-50 sm-width-65">Our Purpose</span>
                                                    <h2 class="text-white width-50 d-inline-block font-weight-300 letter-spacing-minus-1 lg-width-70 sm-width-80">Because every picture tells a Story, let me tell Yours.</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end slider item -->
                                <!-- start slider item -->
                                <div class="swiper-slide cover-background" style="background-image:url('/images/slider-3.jpg');">
                                    <div class="slider-half-small-screen position-relative">
                                        <div class="slider-typography text-left">
                                            <div class="slider-text-middle-main">
                                                <div class="slider-text-middle">
                                                    <span class="text-extra-large text-middle-line font-weight-500 text-deep-pink d-block margin-two-bottom width-50 sm-width-65">Our Goal</span>
                                                    <h2 class="text-white width-50 d-inline-block font-weight-300 letter-spacing-minus-1 lg-width-70 sm-width-80">Capturing moments from today, Creating memories for a lifetime.</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end slider item -->
                            </div>
                            <div class="swiper-pagination swiper-number"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end slider section -->
        <!-- start form section -->
        <section class="wow fadeIn parallax" data-stellar-background-ratio="0.5">
            <div class="opacity-full bg-black"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <!-- start contact-form head -->
                    <div class="col-12 col-xl-5 col-md-6 margin-eight-bottom md-margin-40px-bottom sm-margin-30px-bottom text-center">
                        <div class="text-small text-white-2 alt-font text-uppercase margin-5px-bottom">Contact us to discuss your Photography and Videography projects</div>
                        <h5 class="alt-font text-white-2 font-weight-600 mb-0">Fill out the form & we'll be in touch soon!</h5>
                    </div>
                    <!-- end contact-form head -->
                </div>
                <!-- start contact-form -->
                <form id="project-contact-form" action="javascript:void(0)" method="post">
                    <div class="row">
                        <div class="col-12">
                            <div id="success-project-contact-form" class="mx-0"></div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <label for="name" style="color: #cccccc;">Name</label>
                            <input type="text" name="name" id="name" placeholder="Name *" class="bg-transparent border-color-medium-dark-gray medium-input" style="color: #cccccc;">
                        </div>
                        <div class="col-12 col-lg-6">
                            <label for="phone" style="color: #cccccc;">Phone</label>
                            <input type="text" name="phone" id="phone" placeholder="Phone" class="bg-transparent border-color-medium-dark-gray medium-input" style="color: #cccccc;">
                        </div>
                        <div class="col-12 col-lg-6">
                            <label for="email" style="color: #cccccc;">E-mail</label>
                            <input type="text" name="email" id="email" placeholder="E-mail *" class="bg-transparent border-color-medium-dark-gray medium-input" style="color: #cccccc;">
                        </div>
                        <div class="col-12 col-lg-6">
                            <label for="subject" style="color: #cccccc;">Subject</label>
                            <input type="text" name="subject" id="subject" placeholder="Subject *" class="bg-transparent border-color-medium-dark-gray medium-input" style="color: #cccccc;">
                        </div>
                        <div class="col-12">
                            <label for="comment" style="color: #cccccc;">Describe your event</label>
                            <textarea name="comment" id="comment" placeholder="Describe your event" rows="6" class="bg-transparent border-color-medium-dark-gray medium-textarea" style="color: #cccccc;"></textarea>
                        </div>
                        <div class="col-12 text-center">
                            <button id="project-contact-us-button" type="submit" class="btn btn-deep-pink btn-rounded btn-large margin-20px-top sm-no-margin-top text-extra-dark-gray">send message</button>
                        </div>
                    </div>
                </form>
                <!-- end contact-form -->
            </div>
        </section>
        <!-- end form section -->
        <!-- start section -->
        <section class="wow fadeIn big-section">
            <div class="container">
                <div class="row align-items-center mb-5">
                    <!-- start slogan -->
                    <div class="col-lg-6 text-center text-md-left md-margin-three-bottom sm-margin-20px-bottom">
                            <h6 class="text-dark-gray width-70 lg-width-100 no-margin-bottom">Vadodara Based New Shreenath Enterprise</h6>
                    </div>
                    <!-- end slogan -->
                    <!-- start contact information -->
                        <div class="col-lg-6 text-center text-md-left sm-margin-20px-bottom text-dark-gray">
                            <span class="display-block text-dark-gray">7, Mauli Chambers,<br>B/h Govind Bhuvan,<br>Dandia Bazar, Vadodara - 390001.</span>
                            +91 9824250996, +91 9925709763
                        </div>
                    <!-- end contact information -->
                    </div>
                </div>
                <div class="row p-0 one-second-screen md-height-400px wow fadeIn">
                    <iframe title="Our location" class="w-100 h-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d922.8791339089609!2d73.19782372916251!3d22.296296539919116!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395fc5e53a4cacef%3A0x908098480d400769!2sNew%20Shreenath%20Enterprise!5e0!3m2!1sen!2sin!4v1577937334118!5m2!1sen!2sin"></iframe>
                </div>    
            </div>
        </section>
        {{>footer}}
        <a class="scroll-top-arrow" href="javascript:void(0);"><i class="ti-arrow-up"></i></a>
        {{>foot}}