{{>head title="New Shreenath Enterprise - Professional Wedding Photographers and Videographers" meta_description="New Shreenath Enterprise based in Vadodara provides you a one stop solution for all your photography and videography projects. We have a rich experience and expertise in wedding photography." meta_keywords="photography, wedding photography, pre wedding photography, dslr photo, candid photo, kids photography, photo shoot, photography portfolio, product photography, candid photography, baby photoshoot, baby photography, wedding photographers near me, event photography, wedding video, marriage photography" meta_author="Black Quadrant Technologies"}}
<body class="width-100">
    {{>header}}
    <!-- start slider section -->
    <section class="wow fadeIn pt-5 mt-4">
            <div class="container"> 
                <div class="row"> 
                    <div class="col-12">
                        <div class="swiper-number-pagination swiper-container black-move">
                            <div class="bg-transparent-white opacity-full-dark z-index-5 d-none d-lg-inline-block"></div>
                            <div class="swiper-wrapper">
                                <!-- start slider item -->
                                <div class="swiper-slide cover-background" style="background-image:url('/images/slider-1.JPG');">
                                    <div class="slider-half-small-screen position-relative">
                                        <div class="slider-typography text-left">
                                            <div class="slider-text-middle-main">
                                                <div class="slider-text-middle">
                                                    <span class="text-extra-large text-middle-line font-weight-500 text-deep-pink d-block margin-two-bottom width-50 sm-width-65">Our Work</span>
                                                    <h2 class="text-white width-50 d-inline-block font-weight-300 letter-spacing-minus-1 lg-width-70 sm-width-80">New Shreenath Enterprise | Vadodara's best Photographers - We capture Memories.</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end slider item -->
                                <!-- start slider item -->
                                <div class="swiper-slide cover-background" style="background-image:url('/images/slider-2.JPG');">
                                    <div class="slider-half-small-screen position-relative">
                                        <div class="slider-typography text-left">
                                            <div class="slider-text-middle-main">
                                                <div class="slider-text-middle">
                                                    <span class="text-extra-large text-middle-line font-weight-500 text-deep-pink d-block margin-two-bottom width-50 sm-width-65">Our Purpose</span>
                                                    <h2 class="text-white width-50 d-inline-block font-weight-300 letter-spacing-minus-1 lg-width-70 sm-width-80">Because every picture tells a Story, let me tell Yours.</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end slider item -->
                                <!-- start slider item -->
                                <div class="swiper-slide cover-background" style="background-image:url('/images/slider-3.jpg');">
                                    <div class="slider-half-small-screen position-relative">
                                        <div class="slider-typography text-left">
                                            <div class="slider-text-middle-main">
                                                <div class="slider-text-middle">
                                                    <span class="text-extra-large text-middle-line font-weight-500 text-deep-pink d-block margin-two-bottom width-50 sm-width-65">Our Goal</span>
                                                    <h2 class="text-white width-50 d-inline-block font-weight-300 letter-spacing-minus-1 lg-width-70 sm-width-80">Capturing moments from today, Creating memories for a lifetime.</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end slider item -->
                            </div>
                            <div class="swiper-pagination swiper-number"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end slider section -->
        <!-- start masonry portfolio section -->
        <section class="wow fadeIn">
            <div class="container-fluid p-0">
                <div class="row no-gutters">
                    <div class="col-12 filter-content overflow-hidden text-center text-lg-left">
                        <span class="text-extra-large text-middle-line text-dark-gray d-block margin-five-bottom md-margin-15px-bottom md-text-middle-line font-weight-300 px-5 mx-5">Photographs by our Photographers</span>
                        <ul class="portfolio-grid work-4col hover-option2">
                            <li class="grid-sizer"></li>
                            <!-- start portfolio item -->
                            <li class="grid-item wow fadeInUp">
                                    <figure>
                                        <div class="portfolio-img bg-deep-pink"><img src="/images/wedding-1.JPG" alt="Photo-1"/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main text-left">
                                                <div class="portfolio-hover-box align-bottom">
                                                    <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                        <span class="line-height-normal alt-font text-white-2 text-uppercase margin-one-half-bottom d-block font-weight-600">Photo-1</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                            </li>
                            <!-- end portfolio item -->
                            <!-- start portfolio item -->
                            <li class="grid-item wow fadeInUp"  data-wow-delay="0.2s">
                                    <figure>
                                        <div class="portfolio-img bg-deep-pink"><img src="/images/pre-wedding-1.JPG" alt="Photo-2"/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main text-left">
                                                <div class="portfolio-hover-box align-bottom">
                                                    <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                        <span class="line-height-normal alt-font text-white-2 text-uppercase margin-one-half-bottom d-block font-weight-600">Photo-2</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                            </li>
                            <!-- end portfolio item -->
                            <!-- start portfolio item -->
                            <li class="grid-item wow fadeInUp"  data-wow-delay="0.4s">
                                    <figure>
                                        <div class="portfolio-img bg-deep-pink"><img src="/images/wedding-3.JPG" alt="Photo-3"/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main text-left">
                                                <div class="portfolio-hover-box align-bottom">
                                                    <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                        <span class="line-height-normal alt-font text-white-2 text-uppercase margin-one-half-bottom d-block font-weight-600">Photo-3</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                            </li>
                            <!-- end portfolio item -->
                            <!-- start portfolio item -->
                            <li class="grid-item wow fadeInUp" data-wow-delay="0.6s">
                                    <figure>
                                        <div class="portfolio-img bg-deep-pink"><img src="/images/baby-1.JPG" alt="Photo-4"/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main text-left">
                                                <div class="portfolio-hover-box align-bottom">
                                                    <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                        <span class="line-height-normal alt-font text-white-2 text-uppercase margin-one-half-bottom d-block font-weight-600">Photo-4</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                            </li>
                            <!-- end portfolio item -->
                            <!-- start portfolio item -->
                            <li class="grid-item wow fadeInUp">
                                    <figure>
                                        <div class="portfolio-img bg-deep-pink"><img src="/images/wedding-5.JPG" alt="Photo-5"/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main text-left">
                                                <div class="portfolio-hover-box align-bottom">
                                                    <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                        <span class="line-height-normal alt-font text-white-2 text-uppercase margin-one-half-bottom d-block font-weight-600">Photo-5</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                            </li>
                            <!-- end portfolio item -->
                            <!-- start portfolio item -->
                            <li class="grid-item wow fadeInUp" data-wow-delay="0.4s">
                                    <figure>
                                        <div class="portfolio-img bg-deep-pink"><img src="/images/wedding-6.JPG" alt="Photo-6"/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main text-left">
                                                <div class="portfolio-hover-box align-bottom">
                                                    <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                        <span class="line-height-normal alt-font text-white-2 text-uppercase margin-one-half-bottom d-block font-weight-600">Photo-6</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                            </li>
                            <!-- end portfolio item -->
                            <!-- start portfolio item -->
                            <li class="grid-item wow fadeInUp" data-wow-delay="0.6s">
                                    <figure>
                                        <div class="portfolio-img bg-deep-pink"><img src="/images/wedding-7.JPG" alt="Photo-7"/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main text-left">
                                                <div class="portfolio-hover-box align-bottom">
                                                    <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                        <span class="line-height-normal alt-font text-white-2 text-uppercase margin-one-half-bottom d-block font-weight-600">Photo-7</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                            </li>
                            <!-- end portfolio item -->
                            <!-- start portfolio item -->
                            <li class="grid-item wow fadeInUp">
                                    <figure>
                                        <div class="portfolio-img bg-deep-pink"><img src="/images/wedding-8.JPG" alt="Photo-8"/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main text-left">
                                                <div class="portfolio-hover-box align-bottom">
                                                    <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                        <span class="line-height-normal alt-font text-white-2 text-uppercase margin-one-half-bottom d-block font-weight-600">Photo-8</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                            </li>
                            <!-- end portfolio item -->
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- start section -->
        <section class="wow fadeIn big-section">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-10 text-center text-lg-left wow fadeIn">
                        <span class="text-extra-large text-middle-line text-dark-gray d-block margin-five-bottom md-margin-15px-bottom md-text-middle-line font-weight-300">Photography and Us</span>
                        <h6 class="text-extra-dark-gray d-inline-block font-weight-300 md-width-80 sm-width-100">As quoted by Aaron Siskind, an American photographer, "Photography is a way of feeling, of touching, of loving. What you have caught on film is captured forever. It remembers little things, long after you have forgotten everything.". As a photographer, and especially a wedding photographer, photography is an art of observing people and things and we make you see those things in a wonderful and beautiful way and make you cherish them later. We are the finest wedding photographers in Vadodara and have been providing best wedding photography services along with other photography services since long time. We love to capture people and moments because every person and every moment tells a different story and we just love their stories.</h6>
                    </div>
                </div>
            </div>
        </section>
        <!-- start section -->
        <!-- start client logo section -->
        <section class="wow fadeIn big-section bg-extra-dark-gray">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-10 wow fadeIn text-center text-lg-left">
                        <span class="text-extra-large text-middle-line text-medium-gray d-block margin-five-bottom sm-margin-15px-bottom md-text-middle-line font-weight-300">Our Expertise</span>
                        <h6 class="text-extra-light-gray d-inline-block font-weight-300 md-width-80 sm-width-100">Our expertise lies in Wedding Photography, Pre-Wedding Photography, Kids Portrait/Baby Photography, Family Portrait Photography along with Event Photography and Product Photography. We offer many more services along with these. We have a crew of photographers with rich experience and the ones who are dedicated and committed to fulfill the client's requirement and expectation. We would be obliged to provide you our amazing photography services.</h6>
                    </div> 
                </div>
            </div>
        </section>
        <!-- end client logo section -->
        <!-- end section -->
        <section class="wow fadeIn big-section border-bottom border-color-extra-light-gray">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-6 wow fadeIn text-center text-lg-left">
                        <span class="text-extra-large text-middle-line text-dark-gray d-block margin-five-bottom md-margin-15px-bottom md-text-middle-line font-weight-300">Reach out to us at:</span>
                        <h6 class="text-extra-dark-gray d-block font-weight-300 mb-0 md-width-80 sm-width-100 mx-md-auto">7, Mauli Chambers,<br>B/h Govind Bhuvan,<br>Dandia Bazar, Vadodara - 390001.</h6>
                    </div>
                    <div class="col-12 col-lg-6 pt-5 pl-4 one-second-screen wow fadeIn">
                        <iframe title="Location on map" class="w-100 h-75" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d922.8791339089609!2d73.19782372916251!3d22.296296539919116!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395fc5e53a4cacef%3A0x908098480d400769!2sNew%20Shreenath%20Enterprise!5e0!3m2!1sen!2sin!4v1577937334118!5m2!1sen!2sin"></iframe>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->
        {{>footer}}
        <a class="scroll-top-arrow" href="javascript:void(0);"><i class="ti-arrow-up"></i></a>
        {{>foot}}